#img2,#img3{
    visibility: hidden;
}
.ajoutMedia{
    margin-top: 150px;
    margin-left:30%;
}
h2{
    text-align: center;
}
img{
    height:100px;width:100px;
}
table{
    margin-left: 30%;
    width: 70%;
}