.activite{


    background:url('./../../assets/151954326_1585504544967787_9202209730000787718_n.jpg');
color:white;
width:100%;
height:85vh;

background-size: 100%;
background-position: center;
background-attachment: scroll;
background-repeat: no-repeat;
background-attachment: fixed;
}
.container{
    background-attachment: scroll;
}
.activite a{
  color:white;
  
  

  
}


.activite h1{
padding-top: 10%;
padding-left: 10%;
}
.row{
    margin-top: 10vh;
}
.media{
    margin-top: 50px;
    margin-bottom:50px;
}

iframe{
  float: right;
    margin-left: 50px;
    height: 200px;
    width:80%;
    margin-top: 40px;
  
}
.text{
    width:100%;

}
.text span{
    
}
.titre{
    font-size: 20px;
    font-weight: bold;

}
.description{
    
font-size: 17px;
color:rgb(80, 79, 79);
}

.carousel{
    width:100%;height:60vh;
}