<div class="footer">
<div class="row">


    <div class="pres col-lg-5 col-md-5 col-sm-12 col-xs-12">
<img src="./../../assets/JCIlogoFooter.png" alt="">
    <p>  Jeune Chambre Internationale (JCI) est une fédération mondiale de 200 000 jeunes professionnels et entrepreneurs, âgés de 18 à 40 ans, répartis en près de 5 000 communautés dans plus de 100 pays à travers le monde.</p>
    </div>



<div class="contacter col-lg-4 col-md-4 offset-lg-2 offsef-md-2 col-sm-12 col-xs-12">
<h1>Contactez nous</h1>

<p>   <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp; Sidi Mansour , Sfax,Tunisie</p>
<p> <i class="fa fa-envelope" aria-hidden="true"></i>  &nbsp; jcisidimansour@gmail.com  </p>

<p> <i class="fa fa-phone-square" aria-hidden="true"></i> &nbsp;
 +216 76 000 123</p>



 
 <div class="so">
    <i class="fa fa-facebook ic" aria-hidden="true"></i>
    <i class="fa fa-twitter ic" aria-hidden="true"></i>
    <i class="fa fa-linkedin ic" aria-hidden="true"></i>
    <i class="fa fa-youtube ic" aria-hidden="true"></i>
    
    <i class="fa fa-instagram ic" aria-hidden="true"></i>
 </div>




</div>






</div>



</div>


<div class="droit">
    JCI sidi mansour  © {{y }} tous les droits réservés
</div>