<h1 id="titre">Notre Histoire</h1>

<div class="container-fluid">
    <div class="row">

        <div class="box col-md-5 col-md-5 col-sm-8 col-xs-8" data-aos="fade-up">

            <img [src]="p.historique[0].image" >


            <div class="histoiretext ">
               {{p.historique[0].description}}

            </div>


        </div>

        <div class="box col-md-5 col-md-5 col-sm-8 col-xs-8" data-aos="fade-down"
        data-aos-easing="linear"
        data-aos-duration="1500">

            <img [src]="p.historique[1].image" class="img" alt="">


            <div class="histoiretext ">
                {{p.historique[1].description}}

            </div>


        </div>





    </div>
</div>