.projet{

    
    }

    table{
        
        
    }




    .ajout{
       
    }

#lb1{
    background-image: url('https://cdn.dribbble.com/users/34020/screenshots/3993396/otp_icon_upload.gif');
    background-size: cover;
    padding-top: -30px;
    
    height: 250px;
    width:100%;
    }
    #img1,#img2{
        visibility: hidden;
    }