.dev{

    margin-left: 30%;

}

 i{

    color:black;
    font-size: 50px;
}

table{
    width:60%;
    position: relative;
    margin-left: 30%;
}



select{

    font-family: 'FontAwesome', 'Second Font name'

    
   
}
select option {
 
  }