<h1 id="titre" data-aos="fade-down"
data-aos-easing="linear"
data-aos-duration="1500">Bureau executif</h1>
<div class="bureaux">

   

    <div class="membre" data-aos="fade-right">

        <img src="http://assets.stickpng.com/images/585e4bf3cb11b227491c339a.png" alt="">
    <h2>Nom&prenom</h2>
    <h4>Poste </h4>
    
    </div><div class="membre" data-aos="fade-right">

        <img src="http://assets.stickpng.com/images/585e4bf3cb11b227491c339a.png" alt="">
    <h2>Nom&prenom</h2>
    <h4>Poste </h4>
    
    </div><div class="membre" data-aos="fade-right">

        <img src="http://assets.stickpng.com/images/585e4bf3cb11b227491c339a.png" alt="">
    <h2>Nom&prenom</h2>
    <h4>Poste </h4>
    
    </div>



</div>
