<table class="table">
    <thead>
      <tr>
     
        <th scope="col">page</th>
        <th scope="col">afficher</th>
        <th scope="col">modifier</th>
      </tr>
    </thead>
    <tbody>
    
      <tr>
     
        <td>home</td>
        <td><a href="/home" class="btn btn-primary"> afficher </a></td>
        <td><a href="/modifieHome" class="btn btn-warning">modifier</a> </td>
        
      
      </tr>
      <tr>
    
        <td>adhesion</td>
        <td><a href="/adhesion" class="btn btn-primary"> afficher </a></td>
        <td><a href="/modifierAdhesion" class="btn btn-warning">modifier</a> </td>
        
      
      </tr>
      <tr>
  
        <td>presentation</td>
        <td><a href="/presentation" class="btn btn-primary"> afficher </a></td>
        <td><a href="/modifierPartenair" class="btn btn-warning">modifier</a> </td>
        
      
      </tr>   <tr>
  
        <td>historique</td>
        <td><a href="/histoire" class="btn btn-primary"> afficher </a></td>
        <td><a href="/" class="btn btn-warning">modifier</a> </td>
        
      
      </tr>
      <tr>
  
        <td>media</td>
        <td><a href="/media" class="btn btn-primary"> afficher </a></td>
        <td><a href="/modifMedia" class="btn btn-warning">modifier</a> </td>
        
      
      </tr>
      <tr>
       
        <td>partenaire</td>
        <td><a href="/partenaire" class="btn btn-primary"> afficher </a></td>
        <td><a href="/" class="btn btn-warning">modifier</a> </td>
        
      
      </tr>
    </tbody>
  </table>