<div class="detail">
<h2 class="text-info">Deatils recrutement</h2>
    <div class="alert alert-info">
   <ul class="list-group">
    <li class="list-group-item info"> {{rec.nom}} </li>
    <li class="list-group-item info"> {{rec.prenom}} </li>
    <li class="list-group-item info"> {{rec.mail}} </li>
    <li class="list-group-item info">  {{rec.datenais}} </li>
    <li class="list-group-item info"> {{ rec.telephone}} </li>
    <li class="list-group-item info"> {{ rec.message}} </li>
  </ul>     
    </div>




</div>
