<div class="activite">

    <h1>


    </h1>





</div>

<div class="elm1">

    <h1 class="titre">
        {{pres.titre}}

    </h1>
    <div class="description">
        {{pres.description}}

    </div>




</div>


<youtube-player class="col-12  embed-responsive embed-responsive-16by9" [videoId]="pres.video"
    suggestedQuality="highres" [startSeconds]="0">
</youtube-player>


<!-- team -->








<div id="carouselExampleControls" class="carousel slide col-lg-12 col-md-12 col-sm-12 col-xs-12 " data-ride="carousel">
    <div class="carousel-inner">
        
        <div *ngFor="let s1 of senaterurArr ; let i = index" class="carousel-item" [ngClass]="{'active': i==0}">
            <div class="row">

                <!-- Debit -->
                <div class="col-lg-3 col-md-3 col-sm-8 col-xs-8 offset-lg-1 offset-md-1 offset-sm-3 offset-xs-3 "  *ngFor="let s of s1">
                    <div class="team-member">
                        <div class="team-img">
                            <img [src]="s.image" alt="team member" style="width:200px;height:200px;"
                                class="rounded-circle">
                        </div>

                    </div>
                    <div class="team-title offset-1">
                        <h5 class="" style="width:70%;"  >{{s.nom}} {{s.prenom}} </h5>

                        <div class=""> <span style="text-align: center;"> {{s.poste}} </span>
                        </div>
                    </div>
                </div>

                <!--  Fin  -->

            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>














<!-- couarsul past presedent-->




<div id="carouselExampleControls2" class="carousel slide col-lg-12 col-md-12 col-sm-12 col-xs-12" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let ps of pastpresArr; let i = index" [ngClass]="{'active': i==0}">

            <div class="row">
                <!--debit past presedent-->
                <div class="col-lg-3 col-md-3 col-sm-8 col-xs-8  offset-lg-1 offset-md-1 offset-sm-3 offset-xs-3" *ngFor="let pst of ps">
                    <div class="team-member">
                        <div class="team-img">
                            <img [src]="pst.image" alt="team member" style="width:200px;height:200px;"
                                class="rounded-circle">
                        </div>

                    </div>
                    <div class="team-title offset-1">
                        <h5 class="" style="width:70%;"> {{pst.nom }} {{pst.prenom}} </h5>

                        <div class="" > <span  style="text-align: center;">{{pst.poste}}</span></div>


                    </div>
                </div>
                <!-- fin -->

            </div>



        </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>




<!-- fin-->



   <div class="contaner-fluid  offset-lg-3 offset-md-3 ">
    <div class="row">


        <div class="col-lg-3 col-md-3 col-sm-8 col-xs-3  offset-lg-3 offset-md-2 offset-sm-3 offset-xs-3">
            <div class="team-member">
                <div class="team-img">
                    <img [src]="presedent.image"  style="width:200px;height:200px;" class="rounded-circle">
                </div>
    
            </div>
            <div class="team-title offset-1">
               
                    <h5 class="" style="width:70%;"> {{presedent.nom }} {{presedent.prenom}} </h5>
              
    
                <div > <span>{{presedent.poste}}</span> </div>
            </div>
        </div>
    
        <div class="col-lg-3 col-md-3 col-sm-8 col-xs-8  offset-lg-1 offset-md-1 offset-sm-3 offset-xs-3" *ngIf="pastpim!=null">
            <div class="team-member">
                <div class="team-img">
                    <img [src]="pastpim.image" style="width:200px;height:200px;" class="rounded-circle">
                </div>
    
            </div>
            <div class="team-title offset-1">
                <div>
                    <h5 class="" style="width:70%;"> {{pastpim.nom }} {{pastpim.prenom}} </h5>
                </div>
    
                <div class=""> <span>{{pastpim.poste}}</span> </div>
            </div>
        </div>
    
    
    
    
    
    
    
            <!--  debut-->
           
        </div>
   </div>
    <!-- -->
  <div class="row ">
    <div class="col-lg-3 offset-lg-5 col-md-3 offset-md-5 col-sm-3  offset-sm-3 col-xs-3 offset-xs-3" *ngFor="let con of conseil">
        <div class="team-member">
            <div class="team-img">
                <img [src]="con.image" style="width:200px;height:200px;" class="rounded-circle">
            </div>

        </div>
        <div class="team-title offset-1">
            <h5 class="" style="width:70%;" > {{con.nom }} {{con.prenom}} </h5>
            <div > <span>{{con.poste}}</span> </div>
        </div>
    </div>
  </div>



<!--Membre-->

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-8 col-xs-8  offset-lg-1 offset-md-1 offset-sm-3 offset-xs-3" *ngFor="let listm of listeMeb">
        <div class="team-member">
            <div class="team-img">
                <img [src]="listm.image" style="width:200px;height:200px;" class="rounded-circle">
            </div>

        </div>
        <div class="team-title offset-1">
            <div>
                <h5 class="" style="width:70%;"> {{listm.nom }} {{listm.prenom}} </h5>
            </div>

            <div class=""> <span>{{listm.poste}}</span> </div>
        </div>
    </div>
</div>


<!---->

<app-footer></app-footer>