<nav class="navbar navbar-expand-lg ">
  <a class="navbar-brand" href="#"> <img src="./../../assets/JCIlogo.png" class="logo">   </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation"  style="color:white;z-index:2000;background:#0097D7;"  >
    <i class="fa fa-bars"  aria-hidden="true"></i>

  </button>
<div class="">
</div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
   
      <li class="nav-item ">
        <a  href="/" class="nav-link " >Accueil</a>
     
       
      
      </li>

      <li class="nav-item ">
        <a  href="/presentation" class="nav-link " >Presentation</a>
     
       
      
      </li>

<li class="nav-item">
  <a href="/developpement" class="nav-link">Développement</a>
</li>

      <li class="nav-item">
        <a class="nav-link" href="/media">Media et Partenaires</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/activite">Programme</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contactez-Nous</a>
      </li>
    
<li class="nav-item">
<a href="" class="nav-link">
  <a 
                class="text-success" *ngIf="rec"  data-toggle="modal" data-target="#exampleModal"  >Recrutement </a>
</a>

</li>
<li class="nav-item">
  <a href="" class="nav-link"> <a *ngIf="!logedIn" href="/login" class="">Login</a> <a *ngIf="logedIn"   href="/dashoardAdmin" class="">go to dashboard</a> </a>
</li>



 
    </ul>
   
  </div>
</nav>






<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
        <a [href]="conf.email"> Liens drive</a>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>