<div mat-dialog-content>
  <p>Details</p>
  <mat-form-field>
    <img src="https://d1nhio0ox7pgb.cloudfront.net/_img/o_collection_png/green_dark_grey/512x512/plain/user.png" alt="">
    <span> mail</span>  {{data.mail}} <br>
    <span> nom et prenom</span>  {{data.nom}} {{data.prenom}}   <br>
    <span>poste:</span>   {{data.poste}} <br>
    <span>numero telephone:</span>  {{data.numtel}} <br>
    <span>mot de passe: </span>{{data.motpass}}
  </mat-form-field>
</div>
<div mat-dialog-actions> 
  <button mat-stroked-button color="warn" mat-dialog-close>fermer </button>
</div>

