textarea{
    width: 100%;
    height: 30vh;
}
#img1,#img2{
    visibility: hidden;
}

.partenaire{
float:right;
     
        padding:5%;
        margin-top:150px;
    }

    .partenaire2{
      float:right;
      margin-top:80px;
       
        padding:5%;
     
    }
    .part{
        width:150px;
        height: 100px;
    }