<div class="activite">

    
  
  
  
  
  
  </div>

<div class="projet">
    <img [src]="projet.image[0]" class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="display:block;margin-button:20px;height:600px;" alt="">

    <h1 data-aos="fade-up-right"  style="margin-top: 40px;" >{{projet.titre}} </h1>

    <h2> directeur du projet: {{projet.formateur}}  </h2>
    <h2>  date :{{projet.dat}}   </h2>

    <p class="text">
        {{projet.text}}
    </p>

  
        <div *ngFor="let i of projet.image" data-aos="flip-left">
            <img class="im" [src]="i" alt="">

        </div>
 


<share-buttons [theme]="" [include]="['facebook','whatsapp','linkedin','copy']" [show]="9" [size]="1"> </share-buttons>

</div>




<div class="commentaire">

    <h2> commentaires( {{com.length}} ) </h2>
    <div class="com" *ngFor="let c of com"   >
        <img src="./../../assets/user.png" id="user" alt="">
        <div class="contenu">
            <h2> <a [href]="c.siteweb"> {{c.nom}} </a> </h2>
            <p> {{ c.comantaire }} </p>

        </div>
    </div>





    <h2> Laisser un commentaire</h2>

    <form class="col-lg-6 col-md-6 col-sm-8 col-xs-8" (ngSubmit)="ajoutCommantaire(f)" #f="ngForm">
        <p> Votre adresse e-mail ne sera pas publiée. Les champs obligatoires sont indiqués avec *
        </p>

        <div class="form-group">
            <label for="">commantaire *</label>
            <textarea class="form-control" name="comantaire" ngModel> </textarea>
        </div>

        <div class="form-group">
            <label for="">Nom * </label>
            <input type="text" class="form-control" name="nom" [ngModel]="nom" id="">
        </div>

        <div class="form-group">
            <label for="">E-mail * </label>
            <input type="text" class="form-control" name="email" [ngModel]="email" id="">
        </div>

        <div class="form-group">
            <label for="">site web </label>
            <input type="text" class="form-control" name="siteweb" [ngModel]="site" id="">
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="enr" [ngModel]="false">
            <label>
                Enregistrer mon nom, mon e-mail et mon site dans le navigateur pour mon prochain commentaire.
            </label>
        </div>

        <input type="submit" value="laisser un commantaire">

    </form>






</div>