
<h1 id="titre">Adhesion</h1>

<div class="container-fluid">
    <div class="row">

        <div class="box col-lg-3 col-md-3 col-sm-5 col-xs-5" data-aos="fade-right">

            <p class="icon"> <i class="fa fa-user-o" aria-hidden="true"></i> </p>
            <hr>
            <h1> Pourquoi devenir membre ? </h1>
            <p>

                {{p.adhesion[0].description}}
            </p>


        </div>

        <div class="box col-lg-3 col-md-3 col-sm-7 col-xs-7" data-aos="fade-right">

            <p class="icon"> <i class="fa fa-cube" aria-hidden="true"></i> </p>
            <hr>
            <h1> Comment devenir membre ? </h1>
        <p>   {{p.adhesion[1].description}}</p>

        </div>





        <div class="box col-lg-3 col-md-3 col-sm-12 col-xs-12" data-aos="fade-left">

            <p class="icon"> <i class="fa fa-compass" aria-hidden="true"></i>            </p>
            <hr>
            <h1> Comment procéder ? </h1>
         <p>   {{p.adhesion[2].description}}
        </p>

        </div>





    </div>
</div>