<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar><mat-icon>home_work    </mat-icon> Dashboard Admin</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a mat-button href="/gestionMembre"> <p class="ic"> <mat-icon>supervisor_account </mat-icon> </p> <p> Membres</p>  </a>
      <a mat-button href=""> <p class="ic"> <mat-icon>account_balance </mat-icon> </p> <p>formation</p></a>
      <a mat-button href=""> <p class="ic"><mat-icon>leaderboard      </mat-icon> </p> <p>evenement</p></a>
      <a mat-button href="/page"> <p class="ic"> <mat-icon>view_quilt </mat-icon> </p> <p>pages</p></a>
<div class="spacer">
</div>
<a mat-button href=""> nom&prenom</a>

<a mat-button > <button mat-raised-button  mat-raised-button color="primary"
  matBadge="8" matBadgePosition="before" matBadgeColor="warn" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">

<mat-icon>circle_notifications </mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <span>Redial</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Check voice mail</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button>
</mat-menu></a>

<a mat-raised-button color="primary" href="" (click)="disconnect()"> <mat-icon>logout</mat-icon> Deconnection </a>
    </mat-toolbar>
    <ng-content> 


    </ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
