<div class="notrevision bg-dark col-lg-4 col-md-5 col-sm-8 col-xs-8" >
    <h2 class="text-success">modifier  vision </h2>
    <form (ngSubmit)="modifierVision(f1)" #f1="ngForm" >
     
      <textarea placeholder="description" name="description" class="" [ngModel]="t.home[0].description"> </textarea><br>
          
          
      <label for="img1" class="btn btn-danger"><i class="fa fa-file-image-o" aria-hidden="true"></i>        modifier l image </label>   <input  type="file" id="img1" name="image" (change)="uploadImage($event)" >
        <br>

        <button type="submit" class="btn btn-success btn-lg">Modifier</button>
    </form>
</div>


<div class="credo bg-dark col-lg-4 col-md-5 col-sm-8 col-xs-8">
    <h2 class="text-success">modifier  credo </h2>
<form  (ngSubmit)="modifierCredo(f2)" #f2="ngForm">
  

<textarea placeholder="description" name="description" [ngModel]="t.home[1].description"> </textarea><br>
  
      <label  for="img2" class="btn btn-danger"><i class="fa fa-file-image-o" aria-hidden="true"></i>        modifier l image </label>  <input  type="file" placeholder="Titre" name="image" (change)="uploadimage2($event)" id="img2">
 
      <br>
<button type="submit" class="btn btn-success btn-lg">modifier</button>
</form>

</div>