<h1 mat-dialog-title color="wran"></h1>
<div mat-dialog-content>

    <button mat-button color="accent">modifier la poste du membre</button>
    <br> <br>
    {{data.mail}}
    <form  (ngSubmit)="modifPost(f)" #f="ngForm">
   <select  name="poste" ngModel>

    <option *ngFor="let p of post" [value]="p.nomPoste" >
{{p.nomPoste}}
    </option>


   </select>



<button mat-raised-button color="warn" type="submit">Modifier</button>

</form>
<div class="message alert alert-success" *ngIf="message===true">membre modifier</div>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button color="warn" mat-dialog-close>fermer </button>
  
</div>