<div class="activite">

    <h1>

        <a href="/" style="font-size: 25px;">Accueil</a> <i class="fa fa-chevron-right" aria-hidden="true"></i>
        Actions
        <h2 style="font-size: 25px;">programme</h2>
    </h1>





</div>





<div class="formation" *ngFor="let p of projet" data-aos="fade-right">


    <div class="row">
        <img [src]="p.image[0]" class="col-lg-5 col-md-5 col-sm-10 col-xs-10" alt="">

        <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10 text">

            <h1> {{p.titre}} </h1>

            <p> {{minimiser(p.text) }}</p>


            <a [href]="url2+p.id">lire la suite<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
        </div>

        <hr>
    </div>
</div>




<app-footer> </app-footer>