.activite{


    background:url('./../../assets/151954326_1585504544967787_9202209730000787718_n.jpg');
color:white;
width:100%;
height:85vh;

background-size: 100%;
background-position: center;
background-attachment: scroll;
background-repeat: no-repeat;
background-attachment: fixed;
}
.activite a{
  color:white;
  
  

  
}


.activite h1{
padding-top: 10%;
padding-left: 10%;
}
.formation{clear: both;
    margin-top: 50px;
    background-attachment: scroll;
}
.formation img{
height:300px;
margin-left: 20px;
}
.formation hr{
    color:gray;
    width:100%
    
}
.formation h1{
    color:black;
    font-weight: bold;
}
.formation .text{
    margin-left: 20px;
padding-top: 20px;
}
.formation a{
    color:gray;
    float: bottom;
display: block;
}